.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;

  background-color: var(--black);
  border-bottom: 1px solid var(--gray);

  > div {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: none;
    gap: 8px;
  }
}