:root {
  --orange: #ff5238;
  --fuchsia: #ec5ab5;
  --violet: #3d06a7;
  --lilac: #eed0f8;
  --green: #c2f76c;

  --white: #ffffff;
  --black: #101010;
  --gray: #2f2f2f;
}

* {
  box-sizing: border-box;
}

html {
  width: 100dvw;
  height: 100dvh;

  margin: 0;
  padding: 0;

  overflow-x: hidden;

  font-size: 20px;
  font-weight: 400;
}

body {
  overflow-x: hidden;

  margin: 0;

  background-color: var(--black);

  color: var(--white);
}

ul {
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 0.8;
}

h2 {
  font-size: 2.4rem;
  line-height: 0.9;
}

h3 {
  font-size: 2rem;
  line-height: 1;
}

p {
  font-size: 1rem;
  line-height: 1.2;
}

img {
  width: 100%;
}

a {
  color: var(--green);
}
